:root {
  --bg: #F5FF36;
  --accent-bg: #ffffff;
  --text: #000000;
  --text-light: #828282;
  --accent: #ff00b7;
  --accent-hover: #ff00a6;
  --accent-text: var(--bg);
  --code: #f06292;
  --preformatted: #ccc;
  --disabled: #111;
}

body {
  background: var(--accent-bg);
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  color: var(--text);
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 48px;
}

.yellow {
  color: #F5FF36;
}

.blue {
  color: #1571FF;
}

.white {
  color: #fff;
}

.pink {
  color: #FF1D9C;
}

.bg-yellow {
  background: #F5FF36;
}

.bg-blue {
  background: #1571FF;
}

.bg-white {
  background: #fff;
}

.bg-pink {
  background: #FF1D9C;
}

.bg-tea {
  background: url("img/tea.svg"), #FF1D9C;
  background-size: 240px;
  min-height: 268px;
  background-attachment: fixed;
}

.bg-beaker {
  background: url("img/beakr.svg"), #ffffff;
  background-size: 240px;
  min-height: 268px;
  background-attachment: fixed;
}

.bg-caut {
  background: url("img/caut.svg"), #1571FF;
  background-size: 240px;
  min-height: 268px;
  background-attachment: fixed;
}

/* header */

#logo {
  width: 88px;
}

/* Header Styles */

.page-links {
  display: none;
}

.topnav {
  overflow: hidden;
}

.topnav.responsive .page-links {
  background: #02175b;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 52px;
  width: 100%;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  /* height: 100vh; */
  justify-content: flex-start;
}

.topnav a {
  color: #000000;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.5s ease;
}

.topnav a:hover,
.topnav a:focus {
  color: #4349ee;
  text-decoration: underline;
}

.topnav a:focus {
  outline: 3px solid #3d5aff;
}

.topnav a.active {
  background-color: #aa04aa84;
}


header {
  background: var(--bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.home #logo {
  width: 400px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
transition: filter 0.5s ease;

}
.card:hover, :focus {
  filter: hue-rotate(120deg);
  animation: shake 0.5s;
  
  
}

.card h2 {
  text-align: left;
}

header nav {
  display: flex;
  align-items: center;
  width: 94vw;
  justify-content: space-between;
}

footer {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 50px;
  height: 215px;
  display: flex;
  justify-content: space-between;
}

footer a {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.left h3 {
  max-width: 200px;
  text-align: left;
}

/* find your fuel page */
.coffee {
  background: linear-gradient(180deg, #ff1d9c 6%, rgba(255, 255, 255, 0.00) 78%);
}

.tea {
  background: linear-gradient(180deg, #F5FF36 4%, rgba(255, 255, 255, 0.00) 78.5%);
}

.e-drinks {
  background: linear-gradient(180deg, #1571FF 0%, rgba(255, 255, 255, 0.00) 49.5%);
}

/* buzz breakdown */

.⚡️ {
  background: url(img/blulight.jpg);
  color: white;
  background-attachment: fixed;
  padding-bottom: 40px;
}

.⚡️ div {
  border-radius: 20px;
  background: hsla(216, 100%, 33%, 0.73);
  padding: 42px 20px;
  margin: 80px 10px;
}

.bg-tea section {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.73);
  padding: 42px 20px;
  margin: 40px 10px;
}

.⚡️ div, .bg-tea section, .fuel p, .fuel ul {
  width: 100%;
  max-width: 660px;
  margin: 40px auto;
}




/* Media Queries */

@media (min-width: 480px) {
  .topnav .icon {
    display: none;
  }

  .page-links {
    display: none;
    background: transparent;
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
    justify-content: flex-start;
  }
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}